div#mostrar{
    background: rgb(161,34,195);
background: radial-gradient(circle, rgba(161,34,195,1) 0%, rgba(253,237,45,1) 100%);
    
}
div#card{
   
    display: inline-block;
    width: 22.5%;
    padding-left: 30px;
    margin-top: 25px;
    margin-right: 10px;
}
div#card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
}

li, a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}
ul {
    margin: 0;
    padding: 0;
    background-color: black;
}
li a 
{
    color: white;
    display: block;
    padding: 20px 26px;
}
