body{
    background: rgb(161,34,195);
background: radial-gradient(circle, rgba(161,34,195,1) 0%, rgba(253,237,45,1) 100%);
}

div#cadastro{
    text-align: center;
}
input{
    width: 30%;
    height: 30px;
    color: white;
    background-color: black;
   
}
div#vaisef0000nathan input, a{
    width: 15%;
    color: white;
    background-color: black;
    height: 30px;
    text-decoration: none;
}
#Botao{
    background-color: black;
}

h1{
   color: aliceblue;
}